.main-header{
    width: 100%;
    min-height: 80vh;
    height: auto;
    position: relative;
    max-height: 750px;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #BFA1F0 50%, #BFA1F0 100%);
    padding-bottom: 80px;
}

.navbar {
    height: 100%;
}

.display-none{
    display: none;
}

.welcomeText{
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    text-align: right;
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 800px){
    .main-header{
        background:#BFA1F0;
        min-height: auto;
        padding: 0;
    }

    .welcomeText {
        position: static;
        width: 100%;
        text-align: center;
        
    }

    .display-none800{
        display: none;
    }
}
