@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);

body {
    font-family: 'Ubuntu', sans-serif;
}

.officers-header {
    display: flex;
    flex-direction: row;
}

.officers-header > h1 {
    align-self: center;
}

.officers-header > ul {
    flex-grow: 2;
    align-self: center;
}

.officers-highlight {
    height: 20px;
    position: relative;
    top: -40px;
    left: 10px;
    width: 230px;
    line-height: 1.6;
    /* background-color: #ffc832; */
    background-color: #EAB03C;
    z-index: -1;
}

.officer-group-toggle-container {
    display: flex;
    list-style-type: none;
    padding: 0 4% 0 0;
    margin-left: 2%;
    justify-content: flex-end;
}

.officer-group-toggle {
    margin: 10px;
    padding: 5px;
    transition: 0.1s;
    font-size: 1.17em;
    font-weight: bold;
}

.officer-group-toggle.active {
    border-radius: 0.5rem;
    background-color: #BFA1F0;
}

.officer-group-toggle:hover {
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #BFA1F0;
}

.officers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-height: 25%;
    overflow-y: hidden;
}

.officer-card {
    border: 1px solid black;
    text-align: center;
}

.officer-card > img {
    object-fit: cover;
}

/** some mobile styling **/
@media only screen and (max-width: 500px) {
    .officers-header {
        flex-wrap: wrap;
    }

    .officers-highlight {
        left: 0;
        top: -90px;
    }

    .officer-group-toggle-container {
        padding: 0;
        margin: 0;
        justify-content: center;
    }
}
