@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);

body {
    font-family: 'Ubuntu', sans-serif;
}

#slider-header {
    margin-left: 2%;
}

.highlight {
    height: 24px;
    position: relative;
    top: -40px;
    left: 10px;
    width: 230px;
    line-height: 1.6;
    background-color: #EAB03C;
    z-index: -1;
  }

.slider {
    position: relative;
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slide {
    position: relative;
    min-width: 35%;
    height: 95%;
    transition: 0.5s;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
    -webkit-box-shadow: 8px -8px rgb(46, 36, 89);
    -webkit-border: 1px solid rgb(46, 36, 89);
    box-shadow: 8px -8px rgb(46, 36, 89);
    border: 1px solid rgb(46, 36, 89);
}

#goLeft, #goRight {
    position:  absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    vertical-align: middle;
    object-fit: cover;
}

#goRight:hover, #goLeft:hover  {
    cursor: pointer;
    background-color: rgba(191, 161, 240, 0.5);
}

#goLeft {
    left: 0;
    border-radius: 0 1rem 1rem 0;
    background: url('../images/left_arrow.svg') no-repeat center center;
}

#goRight {
    right: 0;
    border-radius: 1rem 0 0 1rem;
    background: url('../images/right_arrow.svg') no-repeat center center;
}

@media only screen and (max-width: 800px) {
    .slide {
        min-width: 70%;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 4px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        border: none;
    }
}

@media only screen and (max-width: 500px) {
    .slide {
        min-width: 80%;
        margin-left: 10%;
    }

    .highlight {
        left: 0;
    }
}