* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.social-container {
    background-color: #BFA1F0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    text-align: center;
    background: #dde1e7;
    width: 100%;
    margin: 40px 0;
}

li {
    position: relative;
    list-style: none;
    height: 70px;
    width: 70px;
    margin: 0 10px;
    border-radius: 50%;
    background: #dde1e7;
    cursor: pointer;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

li:active {
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

li a {
    line-height: 70px;
    font-size: 27px;
    color: #b6bbc5;
}

li a:active {
    font-size: 25px
}

.social-container li.shadow {
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.social-container li.shadow a {
    font-size: 25px
}

li:nth-child(1):active a {
    /* color: #e1306c; */
    color: #ee4056;
}

li:nth-child(2):active a {
    color: #1da1f2;
}

li:nth-child(3):active a {
    color: black;
}

li:nth-child(4):active a {
    color: #ff0000;
}

li:nth-child(5):active a {
    color: lavender;
}

li:nth-child(1).fill-color a {
    /* color: #e1306c; */
    color: #ee4056;
}

li:nth-child(2).fill-color a {
    color: #1da1f2;
}

li:nth-child(3).fill-color a {
    color: black;
}

li:nth-child(4).fill-color a {
    color: #ff0000;
}

li:nth-child(5).fill-color a {
    color: lavender;
}